@import "../../../../css/function.scss";

.biography {
    padding-bottom: _size(80);

    &__block {
        ul {
            display: flex;
            flex-direction: column;
            gap: _size(10);

            li {
                display: flex;
                gap: _size(20);
            }
        }
    }

    &__name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: _size(12) _size(17) _size(12) _size(20);
        border: 2px solid rgb(231, 231, 231);
        max-width: _size(321);
        width: 100%;
        background-color: rgba(188, 188, 188);
        div {
            display: flex;
            gap: _size(10);
            align-items: center;
        }

        p {
            display: flex;
            align-items: center;
            gap: _size(20);
            font-weight: 500;
            font-size: _size(20);

            span {
                color: red;
            }

            div {
                background-color: #fff;
            }
        }

        button {
            border: none !important;
        }
    }

    &__input {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: _size(20);

        div {
            width: 100%;
        }

        &-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: _size(20);

            .MuiFormControl-root {
                max-width: _size(250);
            }
        }
    }

    &_wrap {
        padding-top: _size(111);
        padding-bottom: _size(80);

        &_button-step {
            display: block;
            font-weight: 400;
            font-size: _size(16);
            background-color: rgb(38, 138, 187);
            border: 1px solid rgb(188, 188, 188);
            color: #fff;
            padding: _size(20) _size(90);
            transition: all 0.4s ease;
            margin: 0 auto;
            margin-top: _size(60);

            &:hover {
                background-color: #0069d9;
                border-color: #0062cc;
            }
        }
    }

    &_position {
        margin: 0 auto;
        max-width: _size(1200);

        &__line {
            max-width: _size(1200);
            height: _size(10);
            border-radius: 10px;
            background-color: rgb(188, 188, 188);
            overflow: hidden;

            span {
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgb(38, 138, 187);
                transition: width 0.5s;
            }
        }

        &__step {
            margin-top: _size(20);
            display: flex;
            align-items: center;
            justify-content: space-around;

            button {
                font-weight: 600;
                font-size: _size(30);
                color: rgb(1, 1, 1);
            }

            .active {
                color: rgb(47, 90, 155);
            }
        }
    }

    &__img-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

    }

    &__img-info {
        text-align: center;
        background: #f3f3f3;
        margin-bottom: 70px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #BCBCBC;

        h3 {
            font-size: _size(30);
            font-weight: 500;
            margin-bottom: _size(15);
        }

        p {
            margin: 0 auto;
            max-width: _size(400);
            color: #2F5A9B;
            line-height: 1.1;
            font-size: _size(20);
            margin-bottom: _size(15);
        }
    }
}

.MuiAccordionSummary-content {
    font-weight: 900;
    font-size: _size(30);
    justify-content: center;
    color: rgb(47, 90, 155);
    margin: 0;
    padding: _size(20) 0;
}

.MuiButtonBase-root {
    border: 1px solid rgb(188, 188, 188) !important;
}

.date {
    max-width: _size(300);
    display: flex;
    align-items: center;
    gap: _size(20);
}

.date .MuiInputAdornment-root {
    width: auto;
}

.image-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}